body {
  padding-top: 62px;
}

.active {
  color: orange;
}

.s-15x15{
  width: 15px;
  height: 15px
}

.input-text {
  height: 40px;
  border-radius: none;
  background-color: #f3f3f3;
}

.bg-faded {
  background-color: #e5e5e5 !important;
}

.review-body {
  height: 80px;
  overflow: hidden;
}