{{#if session.isAuthenticated}} 
  <button class="button-solid button-orange" {{action 'invalidateSession'}}>Logout</button>
{{else}}
  <button class="button-solid button-orange" {{action 'Authenticate'}}>Login</button>
{{/if }}