body.centered-modal-showing {
  overflow: hidden;
}

.centered-scrolling-wrapper {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 500;
  top: 0;
  left: 0;
  overflow-y: scroll;
}

.centered-scrolling-overlay {
  position: relative;
  height: auto;
  min-height: 100vh;
  padding: 1em;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

/* basic modal style (an example, this is not necessary for the centering) */
.centered-scrolling-container {
  position: relative;
  background-color: white;
  /* max-width: 650px; */
  margin-top: 30px;
  margin-bottom: 30px;
  box-sizing: border-box;
  box-shadow: 0px 4px 25px 4px rgba(0,0,0,0.30);
}