<div class="border-card mb-5">
  <h5 class="mb-4">Hacker Blocks Profile</h5>

  {{#if fetchHackerBlocksStatsTask.isRunning}}
  <LoadingComponent />
  {{else}}
  <div class="row">
    <div class="col-4 gradient-orange">
      <h4 class="mb-3">{{stats.bestRank}}</h4>
      <div class="">All Time Best Rank</div>
    </div>
    <div class="col-4">
      <h4 class="mb-3">{{stats.currentOverallRank}}</h4>
      <div class="dark-grey">Current Overall Rank</div>
    </div>
    <div class="col-4">
      <h4 class="mb-3">{{stats.currentMonthScore}}</h4>
      <div class="dark-grey">Current Month Score</div>
    </div>
  </div>
  {{/if}}
</div>