<h4>What do you want to say to recruiter?</h4>
<div class="divider-h my-3"></div>
<Textarea class="input-textarea w-100" id="" rows="5" @value={{messageToRecruiter}}></Textarea>


<form id="job-application-form" action="">
  {{#each questions as |question|}}
    <div class="my-4">
      <Jobs::JobApplicationForm::CustomFormField @question={{question}} @valueToSet={{get form question.name}}/>
    </div>
  {{/each}}

  <input type="submit" hidden> 
</form>