<NavBar />
{{#unless sidenav.isHidden}}
  <SideNav />

  <div class="row justify-content-center mx-0">
    <div class="offset-0 offset-md-1 col-11 px-lg-5 px-md-4 px-0 pt-4">
      <div class="container">
        {{outlet}}
      </div>
    </div>
  </div>

{{else}}
  {{outlet}}
  <Footer />
{{/unless}}

